﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="admin.aspx.cs" Inherits="admin" %>

<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body style=" background-color:#b3e5fc;">



    

      <form id="form1" runat="server">



    

<div class="container" style="margin-top:12em;">

        <div class="container">
                <div class="container">
                        <h3 class="center blue-text  text-darken-3" style="height:auto;">RAMA Edugrievance</h3>

        <div class="col s12 m6">
                <div class="card-panel grey lighten-3">
                  <h5 class="center">Please Login Here</h5>
                  <div class="input-field">
                      <i class="material-icons prefix">account_circle</i>
                     <asp:TextBox ID="TextBox1" runat="server" placeholder="Username" ></asp:TextBox>
                  </div>
                  <div class="input-field">
                      <i class="material-icons prefix">lock</i>
                    
                      <asp:TextBox type="password" ID="TextBox2" runat="server" placeholder="Password"></asp:TextBox>
                    
                  </div>
                  
                  
                
                    <asp:Button ID="Button1" class=" btn waves-effect waves-light" runat="server" Text="Login" OnClick="Button1_Click" />
               
    
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <asp:Label ID="Label1" runat="server" ForeColor="Red"></asp:Label>
               
    
                </div>
    
                      



</div>
</div>
</div>










    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="js/materialize.min.js"></script>
      </form>
  </body>
</html>
      