﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="start.aspx.cs" Inherits="start" %>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Edugrievance || Software</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="teal" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">RAMA UNVERSITY</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="index.aspx">Home</a></li>
        <li><a href="#login">Login</a></li>
        <li><a href="#">Contact</a></li>
      
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="index.aspx">Home</a></li>
        <li><a href="#">About </a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">RAMA Edugrievance</h1>
        <div class="row center">
          <h5 class="header col s12 light">A modern  LMS Software</h5>
        </div>
        <div class="row center">
          <a href="#" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="background1.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row"id="login">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">account_circle</i></h2>
            <h5 class="center">Admin</h5>

            <p class="light">
                <div class="row center">
                    <a href="admin/admin.aspx" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
                  </div>
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">students</h5>

            <p class="light">
                <div class="row center">
                <a href="student/admin.aspx" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
              </div></p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">wc</i></h2>
            <h5 class="center">Parents</h5>

                <p class="light">
                    <div class="row center">
                            <a href="parents/admin.aspx" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
                    </div>
            </p>
          </div>
        </div>

        <div class="col s12 m4">
                <div class="icon-block">
                  <h2 class="center brown-text"><i class="material-icons">person</i></h2>
                  <h5 class="center">Teaching staff</h5>
      
                      <p class="light">
                          <div class="row center">
                                  <a href="start.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
                          </div>
                  </p>
                </div>
              </div>

     
              <div class="col s12 m4">
                    <div class="icon-block">
                      <h2 class="center brown-text"><i class="material-icons">person</i></h2>
                      <h5 class="center">Non Tecaching staff</h5>
          
                          <p class="light">
                              <div class="row center">
                                      <a href="start.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
                              </div>
                      </p>
                    </div>
                  </div>



                  <div class="col s12 m4">
                        <div class="icon-block">
                          <h2 class="center brown-text"><i class="material-icons">supervisor_account</i></h2>
                          <h5 class="center">Mangement</h5>
              
                              <p class="light">
                                  <div class="row center">
                                          <a href="mangement/admin.aspx" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
                                  </div>
                          </p>
                        </div>
                      </div>

                      
                  <div class="col s12 m4">
                        <div class="icon-block">
                          <h2 class="center brown-text"><i class="material-icons">supervisor_account</i></h2>
                          <h5 class="center">Edugrievance cell</h5>
              
                              <p class="light">
                                  <div class="row center">
                                          <a href="member/admin.aspx" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
                                  </div>
                          </p>
                        </div>
                      </div>


                      
                  <div class="col s12 m4">
                        <div class="icon-block">
                          <h2 class="center brown-text"><i class="material-icons">supervisor_account</i></h2>
                          <h5 class="center">Faculty Member</h5>
              
                              <p class="light">
                                  <div class="row center">
                                          <a href="faculty/admin.aspx" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
                                  </div>
                          </p>
                        </div>
                      </div>

                      
                  <div class="col s12 m4">
                        <div class="icon-block">
                          <h2 class="center brown-text"><i class="material-icons">supervisor_account</i></h2>
                          <h5 class="center">Help</h5>
              
                              <p class="light">
                                  <div class="row center">
                                          <a href="start.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
                                  </div>
                          </p>
                        </div>
                      </div>


















      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="background2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us</h4>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="background3.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="#">SIDDHARTH</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
